/*----------- img-2 ----------*/
@media (min-width: 10px){
    .img-2{
        width: 104%;
    }
}

@media (min-width: 800px){
    .img-2{
        height: 335px;
    }
}

/*---------- img-3 -----------*/

@media (min-width: 770px){
    .img-3{
        width: 40%;
        float: right;
        padding: 5%;
    }
}

@media (max-width: 770px){
    .img-3{
        width: 95%;
    }
}

/*------- img-5 -------------*/

@media (min-width: 10px){
    .img-5{
        width: 104%;
    }
}

@media (min-width: 300px){
    .img-5{
        height: 180px;
    }
}

@media (min-width: 400px){
    .img-5{
        height: 270px;
    }
}

@media (min-width: 770px){
    .img-5{
        height: 400px;
    }
}
@media (min-width: 990px){
    .img-5{
        height: 500px;
    }
}
@media (min-width: 1200px){
    .img-5{
        height: 580px;
    }
}

/*-------- img-5 -----------*/

/* .img-5{
    width: 104%;
    height: 500px;
} */

/*--------- img-card ---------*/

@media (min-width: 10px){
    .img-card{
        width: 104%;
        height: 93%;
    }
}

/*-------- img-card-3 ------------*/

@media (min-width: 10px){
    .img-card-3{
        width: 104%;
        height: 96%;
    }
}

/*-------- site-logo ------*/

@media (min-width: 10px){
    .site-logo{
        width: 100%;
    }
    
    .logo-container{
        width: 50px;
    }
}

@media (min-width: 900px){

    .logo-container{
        width: 5%;
    }
}

/*--------- site title ---------------*/

@media (min-width: 10px){
    .site-title{
        width: 100%;
        background-color: rgb(255, 255, 255);
        padding: 10%;
        border-radius: 50%;
        cursor: pointer;
    }
    .site-title-container{
        width: 120px;
    }
}



@keyframes hoverShadow{
    100% {
        box-shadow: 5px 5px 5px rgb(187, 187, 187);
        transform: scale(1.05);
    }
}

.card-shadow{
    margin-top: 15px;
    box-shadow: 5px 5px 5px rgb(187, 187, 187);
}

.card-shadow:hover{
    animation-name: hoverShadow;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}