.img-5{
    width: 104%;
    height: 500px;
}

@keyframes hoverShadow{
    100% {
        box-shadow: 5px 5px 5px rgb(187, 187, 187);
        transform: scale(1.05);
    }
}

.card-shadow{
    margin-top: 15px;
    box-shadow: 5px 5px 5px rgb(187, 187, 187);
}

.card-shadow:hover{
    animation-name: hoverShadow;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}