@media (min-width: 10px){
    .img-5{
        width: 104%;
    }
}

@media (min-width: 300px){
    .img-5{
        height: 180px;
    }
}

@media (min-width: 400px){
    .img-5{
        height: 270px;
    }
}

@media (min-width: 770px){
    .img-5{
        height: 400px;
    }
}
@media (min-width: 990px){
    .img-5{
        height: 500px;
    }
}
@media (min-width: 1200px){
    .img-5{
        height: 580px;
    }
}

/* .img-5{
    width: 104%;
    height: 500px;
} */

@keyframes hoverShadow{
    100% {
        box-shadow: 5px 5px 5px rgb(187, 187, 187);
        transform: scale(1.05);
    }
}

.card-shadow{
    margin-top: 15px;
    box-shadow: 5px 5px 5px rgb(187, 187, 187);
}

.card-shadow:hover{
    animation-name: hoverShadow;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}